<section class="main-header">
  <img src="<%= asset_path "8477893426_9181cdabc4_o" %>"> 
</section>
<section class="about">
  <h1></h1>
</section>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>